<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${LOGBACK_CONFIGURATION_DEBUG:-false}">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="uk.gov.hmcts.reform.logging.layout.ReformLoggingLayout"/>
        </encoder>
    </appender>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="uk.gov.hmcts.reform.logging.PrettyPrintingDecorator"/>
            <providers class="uk.gov.hmcts.reform.logging.provider.EventJsonProviders">
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <alertLevel/>
                <pattern>
                    <pattern>
                        {
                            "level": "%level",
                            "message": "%message",
                            "type": "${REFORM_SERVICE_TYPE:-java}",
                            "microservice": "${REFORM_SERVICE_NAME:-undefined}",
                            "team": "${REFORM_TEAM:-undefined}",
                            "hostname": "${HOSTNAME:-undefined}",
                            "environment": "${REFORM_ENVIRONMENT:-undefined}",
                            "sessionId": "%X{sessionId}",
                            "requestId": "%X{requestId}",
                            "rootRequestId": "%X{rootRequestId}",
                            "originRequestId": "%X{originRequestId}"
                        }
                    </pattern>
                </pattern>
                <logstashMarkers/>
                <arguments>
                    <fieldName>fields</fieldName>
                </arguments>
                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>
    <root level="${ROOT_LOGGING_LEVEL:-INFO}">
        <appender-ref ref="${ROOT_APPENDER:-CONSOLE}" />
    </root>
    <include optional="true" resource="${LOGBACK_INCLUDES_FILE:-logback-includes.xml}"/>
</configuration>
