<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="APP_INSIGHTS" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>${APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>
    </appender>

    <logger name="uk.gov.hmcts" level="info">
        <appender-ref ref="APP_INSIGHTS" />
    </logger>
</included>
